body{
    background-color:#FF577F;
}
div{
    text-align: center;
    
}
li{
    list-style-position: inside;
}
img{
    width: 300px;
    height: 300px;
}
h1{
    background-color: #FF884B; 
    color: #400D51;
}
h2{
    background-color: #FF884B;
     color: #400D51;
}
a{
    color: blue;
}